#
#Overall, the option file (this file) is a way to apply options
#to the mysqld command line. Istead of typing --any-option after
#mysqld command, you just type any-option in this file (remove --).
#
#Name of the program or group for which you want to set options.
#After a group line, any option-setting lines apply to the named group
#until the end of the option file or another group line is given.
#Here, applies options to then entire mysqld program.
[mysqld]
#Specify user.
user=root
#Specify data directory.
datadir=/var/lib/mysql
#Specify port.
port=3306